@media (max-width: 425px) {
  .content-body {
    margin-left: 0rem;
    z-index: 0;
  }
  .card .card-body {
    padding: 0.1rem 0.3rem;
  }
  .superadmin-preview-img {
    height: 90px;
    width: 80%;
    object-fit: fill;
    background-position: center;
  }

  .media-reply {
    display: flex;
    margin-bottom: 0px;
    padding-top: 0px;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .card-title-text {
    margin-bottom: 20px;
    font-size: 18px;
    margin-top: 20px;
  }
  .profile-change-password-card-padding {
    padding: 0px 0px 20px 20px !important;
  }

  .Date-picker-control {
    width: 19.3rem;
  }
  .custom-card-body {
    padding: 20px 20px 20px 20px !important;
  }
}

@media (min-width: 425px) and (max-width: 425px) {
  .Date-picker-control {
    width: 19.3rem;
  }
}

@media (min-width: 375px) and (max-width: 375px) {
  .Date-picker-control {
    width: 16.3rem;
  }
}

@media (max-width: 320px) {
  .Date-picker-control {
    width: 12.9rem;
  }
  .report-btn-main {
    display: flex;
    margin-bottom: 5px;
    margin-left: 5px;
  }
  .report-btn {
    background-color: #7571f9;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }
}

/* css for make responsive all modules start */

@media (max-width: 450px) {
  .profile-note-title {
    font-size: 1rem;
    margin: 0 0 25px 0;
    font-weight: 600;
    color: #343a40;
  }
  .card {
    padding: 10px 10px 10px 10px;
  }

  .app-ver-btn {
    text-align: left;
    margin-top: 30px !important;
    margin-left: 10px;
  }

  .table-header-fields-main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .table-header-fields {
    margin-top: 10px;
  }

  .winner-list-text-main {
    color: rgb(141, 128, 128);
    font-size: 15px;
    text-align: center;
  }

  .dashboard-main-title {
    margin: 0;
    padding: 0px;
  }
}
@media (max-width: 1024px) {
  .make-responsive-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  .make-responsive-table thead,
  tbody {
    width: 100%; /* Match the parent table width */
  }
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
}

@media (max-width: 768px) {
  .react-datepicker-wrapper {
    width: 100%;
  }
}

/* css for make responsive all modules end */
